<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="trailers" href="/tabs/trailers">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Änhänger finden</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bookings" href="/tabs/bookings">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Buchungen</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
